.texto-fsociety {
    position: absolute;
    top: 25%;
    left: 6%;
    max-width: 500px;
    z-index: 10;
    }

.texto-fsociety h1 {
    font-family: 'Orbitron', 'Arial Black', sans-serif;
    font-size: 3.5rem;
    color: #ff2a2a;
   text-transform: uppercase;
   margin: 0 0 10px 0;
   letter-spacing: 2px;
   line-height: 1.1;
}

.texto-fsociety .subtitulo {
    font-family: 'Fira Code',monospace;
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0;
    display: inline-block;
}

.texto-fsociety .cursor {
    color: #ff2a2a;
    font-weight: bold;
    animation: vai_piscar 0.8s infinite;
    margin-left: 5px;
}
@keyframes vai_piscar {
    0%, 100% { opacity: 0;}
    50% {opacity: 1;}
}




